Package: partition-info
Version: 1.3
Architecture: all
Maintainer: anticapitalista <antix@operamail.com>
Installed-Size: 43
Depends: bsdmainutils, coreutils, gawk, gdisk, grep, sed, util-linux
Section: utils
Priority: extra
Description: Tool to list GPT and msdos partition info in similar format
 A tool (partition-info) to list information about the selected
 device's partitions. Lists the following information about
 the partitions: NAME, SIZE, FSTYPE(name), FSTYPE(code), LABEL
 .
 The partition-info script was created to list information
 about GPT and msdos drive partitions. Output is formatted
 the same for both types unlike fdisk which formats it's
 output slightly different for each type.
